[Desktop Entry]
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Comment[en_CA]=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Comment=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Comment[de]=Grafisches Werkzeug zur Steuerung des JACK-Audio-Systems
Comment[fr]=QjackCtl est une interface graphique Qt pour le kit de connexion audio JACK
Comment[it]=QjackCtl è un'interfaccia di controllo per JACK basata su Qt
Comment[ru]=Программа для управления звуковым сервером JACK
Exec=qjackctl
GenericName[en_CA]=JACK Control
GenericName=JACK Control
GenericName[de]=JACK-Steuerung
GenericName[fr]=Contrôle JACK
GenericName[it]=Interfaccia di controllo per JACK
GenericName[ru]=Управление JACK
Icon=qjackctl
Keywords=Audio;MIDI;ALSA;JACK;LV2;Qt;
MimeType=
Name[en_CA]=QjackCtl
Name=QjackCtl
Path=
StartupNotify=true
StartupWMClass=qjackctl
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
X-Window-Icon=qjackctl
